<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyAppFoundation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@6.1.0/dist/styles.css"
    />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- show the user something while the app fetches the session token -->
    <div id='loading-message'>
      Loading session token...
    </div>
    <div id='main-content' class='d-none justify-content-center'>
      <div id='loading' class='d-none'>Loading...</div>
      <%= yield %>
    </div>
  </body>
</html>
